body {
    position: relative;
    background: radial-gradient(circle, rgba(7, 30, 145, 1) 0%, rgba(113, 12, 32, 1) 100%);
    vertical-align: center;
}

.clock {
    position: absolute;
    height: 350px;
    width: 350px;
    left: 50%;
    transform: translate(-50%, 50%);
    border: 7px solid rgb(236, 220, 220);
    border-radius: 50%;
    -webkit-box-shadow: 10px 10px 300px 100px rgba(191, 164, 13, 0.7);
    -moz-box-shadow: 10px 10px 300px 100px rgba(191, 164, 13, 0.7);
    box-shadow: 10px 10px 300px 100px rgba(191, 164, 13, 0.7);
}

/* .middle {
    position: relative;
    width: 12px;
    height: 12px;
    left: 49%;
    top: 49%;
    background: rgb(43, 42, 42);
    border-radius: 50%;
    z-index: 1;
} */

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("./clock-back.jpg");
    background-position: center;
    background-size: cover;
    /* background: radial-gradient(circle, rgb(19, 114, 116) 0%, rgb(158, 117, 27) 100%); */
    border-radius: 50%;
}

.hand {
    position: absolute;
    background-color: black;
    width: 50%;
    height: 8px;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.0001s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.second-hand {
    border-bottom-left-radius: 100%;
    background-color: rgb(173, 13, 13)
}

.min-hand {
    border-bottom-left-radius: 100%;
    background-color: rgb(27, 71, 27);
}

.hour-hand {
    border-bottom-left-radius: 100%;
    background-color: rgb(194, 162, 19);
}